@font-face {
    font-family: 'BlackthornsBold';
    src: url('../fonts/BlackthornsBold.ttf');
}

@font-face {
    font-family: 'BlackthornsRegular';
    src: url('../fonts/BlackthornsRegular.ttf');
}

@font-face {
    font-family: 'MonografBold';
    src: url('../fonts/MonografBold.ttf');
}

@font-face {
    font-family: 'MonografRegular';
    src: url('../fonts/MonografRegular.ttf');
}

@font-face {
    font-family: 'ResagnictoBold';
    src: url('../fonts/ResagnictoBold.ttf');
}

@font-face {
    font-family: 'ResagnictoRegular';
    src: url('../fonts/ResagnictoRegular.ttf');
}

:root {
    --bs-black: #000;
    --bs-white: #fff;
}

body{
    background: url("../images/background.jpeg") no-repeat fixed;
}

.content-body{
    background: rgba(0, 0, 0, 0.8);
}

.next-video-title {
    font-size: 50px;
    position: absolute;
    top: 25%;
    z-index: 1;
    width: 100%;
    font-family: 'BlackthornsBold';
    color: var(--bs-white);
}

.next-video-btn {
    font-family: 'MonografBold';
    width: 220px;
    position: absolute;
    top: 43%;
    right: 42%;
    z-index: 1;
    background: linear-gradient(277deg, rgba(213, 213, 213, 0.1) 0%, rgba(213, 213, 213, 0.02) 50%, rgba(42, 42, 42, 0.02) 50%, rgba(42, 42, 42, 0.2) 100%), linear-gradient(295deg, rgba(73, 73, 73, 0.3) 0%, rgba(73, 73, 73, 0.1) 50%, rgba(229, 229, 229, 0.1) 50%, rgba(229, 229, 229, 0.03) 100%), linear-gradient(145deg, rgba(77, 77, 77, 0.1) 0%, rgba(77, 77, 77, 0.1) 50%, rgba(123, 123, 123, 0.1) 50%, rgba(123, 123, 123, 0.1) 100%), linear-gradient(54deg, rgba(51, 51, 51, 0.3) 0%, rgba(51, 51, 51, 0.1) 50%, rgba(29, 29, 29, 0.2) 50%, rgba(29, 29, 29, 0.03) 100%), linear-gradient(170deg, rgba(9, 9, 9, 0.02) 0%, rgba(9, 9, 9, 0.02) 50%, rgba(243, 243, 243, 0.02) 50%, rgba(243, 243, 243, 0.02) 100%), linear-gradient(264deg, rgba(214, 214, 214, 0.01) 0%, rgba(214, 214, 214, 0.01) 50%, rgba(153, 153, 153, 0.01) 50%, rgba(153, 153, 153, 0.01) 100%), linear-gradient(90deg, rgb(99, 48, 222), rgb(76, 212, 233));
    padding: 1em 1.5em;
    border: 1px solid black;
    border-radius: 25px 7px;
    color: white;
    text-transform: uppercase;
    letter-spacing: .1em;
    transition: all .7s ease;
}

.next-section-title div div h1{
    font-family: 'BlackthornsBold';
    color: var(--bs-white);
}

.next-section-title div div p{
    font-family: 'MonografRegular';
    color: var(--bs-white);
}

.next-video-btn:hover {
    border-radius: 7px 25px;
    background: linear-gradient(45deg, rgb(239, 7, 129) 0%, rgb(239, 7, 129) 6%, rgb(208, 10, 112) 6%, rgb(208, 10, 112) 25%, rgb(177, 13, 96) 25%, rgb(177, 13, 96) 40%, rgb(147, 16, 79) 40%, rgb(147, 16, 79) 45%, rgb(116, 19, 62) 45%, rgb(116, 19, 62) 53%, rgb(85, 22, 46) 53%, rgb(85, 22, 46) 66%, rgb(54, 25, 29) 66%, rgb(54, 25, 29) 100%);
    letter-spacing: .2em;
    border: 1px solid white;
    color: white;
}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    width: 300px;
    height: 400px;
    box-shadow: 0px 0px 11px 4px rgb(255 0 255);
    filter: blur(1px);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: self-start;
    border: 2px solid #ff00f9;
}

.swiper-slide-active {
    filter: blur(0px);
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
    background: #fff;
}

.swiper-slide span {
    font-family: 'BlackthornsBold';
    text-transform: uppercase;
    color: #fff;
    background: rgba(0, 0, 0, 0);
    padding: 20px 18px 7px 25px;
    display: inline-block;
    border-radius: 0 20px 20px 0px;
    letter-spacing: 2px;
    font-size: 25px;
    text-align: center;
}


.swiper-slide h2 {
    color: #fff;
    font-family: 'MonografBold';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 15px;
    padding: 25px 25px 0 25px;
    text-align: center;
}

.swiper-slide--one {
    background: linear-gradient(to top, #ff35fd78, #203a4300, #2c536400),
    url('../images/background/1.jpg') no-repeat 50% 50% / cover;
}

.swiper-slide--two {
    background: linear-gradient(to top, #ff35fd78, #203a4300, #2c536400),
    url("../images/background/2.jpg") no-repeat 50% 50% / cover;
}

.swiper-slide--three {
    background: linear-gradient(to top, #ff35fd78, #203a4300, #2c536400),
    url("../images/background/3.jpg") no-repeat 50% 50% / cover;
}

.swiper-slide--four {
    background: linear-gradient(to top, #ff35fd78, #203a4300, #2c536400),
    url("../images/background/4.jpg") no-repeat 50% 50% / cover;
}

.swiper-slide--five {
    background: linear-gradient(to top, #ff35fd78, #203a4300, #2c536400),
    url("../images/background/5.jpg") no-repeat 50% 50% / cover;
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
    background-image: none;
}

@media screen and (max-width: 550px) {
    .next-video-title {
        font-size: 25px;
        top: 10%;
    }

    .next-video-btn {
        top: 20%;
        left: 23%;
    }
}

.next-about-card-1{
    background: url("../images/background/1.jpg") no-repeat;
    background-size: cover;
    color: var(--bs-white);
}

.next-about-card-2{
    background: url("../images/background/2.jpg") no-repeat;
    background-size: cover;
    color: var(--bs-white);
}

.swiper-slide div{
    height: 150px;
}

.next-btn{
    font-family: 'MonografBold';
    width: 220px;
    position: absolute;
    z-index: 1;
    background: linear-gradient(277deg, rgba(213, 213, 213, 0.1) 0%, rgba(213, 213, 213, 0.02) 50%, rgba(42, 42, 42, 0.02) 50%, rgba(42, 42, 42, 0.2) 100%), linear-gradient(295deg, rgba(73, 73, 73, 0.3) 0%, rgba(73, 73, 73, 0.1) 50%, rgba(229, 229, 229, 0.1) 50%, rgba(229, 229, 229, 0.03) 100%), linear-gradient(145deg, rgba(77, 77, 77, 0.1) 0%, rgba(77, 77, 77, 0.1) 50%, rgba(123, 123, 123, 0.1) 50%, rgba(123, 123, 123, 0.1) 100%), linear-gradient(54deg, rgba(51, 51, 51, 0.3) 0%, rgba(51, 51, 51, 0.1) 50%, rgba(29, 29, 29, 0.2) 50%, rgba(29, 29, 29, 0.03) 100%), linear-gradient(170deg, rgba(9, 9, 9, 0.02) 0%, rgba(9, 9, 9, 0.02) 50%, rgba(243, 243, 243, 0.02) 50%, rgba(243, 243, 243, 0.02) 100%), linear-gradient(264deg, rgba(214, 214, 214, 0.01) 0%, rgba(214, 214, 214, 0.01) 50%, rgba(153, 153, 153, 0.01) 50%, rgba(153, 153, 153, 0.01) 100%), linear-gradient(90deg, rgb(99, 48, 222), rgb(76, 212, 233));
    padding: 1em 1.5em;
    border: 1px solid black;
    border-radius: 25px 7px;
    color: white;
    text-transform: uppercase;
    letter-spacing: .1em;
    transition: all .7s ease;
}

.next-btn:hover {
    border-radius: 7px 25px;
    background: linear-gradient(45deg, rgb(239, 7, 129) 0%, rgb(239, 7, 129) 6%, rgb(208, 10, 112) 6%, rgb(208, 10, 112) 25%, rgb(177, 13, 96) 25%, rgb(177, 13, 96) 40%, rgb(147, 16, 79) 40%, rgb(147, 16, 79) 45%, rgb(116, 19, 62) 45%, rgb(116, 19, 62) 53%, rgb(85, 22, 46) 53%, rgb(85, 22, 46) 66%, rgb(54, 25, 29) 66%, rgb(54, 25, 29) 100%);
    letter-spacing: .2em;
    border: 1px solid white;
    color: white;
}

.next-content-paragraph{
    font-family: 'MonografRegular';
    text-align: justify;
}

.single-blog{
    position: relative;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    margin-bottom: 30px;
}

.single-blog::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 0, 0, 0)), to(rgba(14, 1, 41, 0.99)));
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), rgba(14, 1, 41, 0.99));
}

.single-blog span {
    font-family: 'BlackthornsBold';
    background-color: #ffffff;
    color: #212121;
    position: absolute;
    top: 20px;
    left: 0;
    padding: 8px 20px;
    font-weight: 600;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.single-blog .blog-content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 30px;
}

.single-blog .blog-content h3 {
    font-family: 'MonografBold';
    margin-bottom: 12px;
    color: white;
}

.next-title{
    font-family: 'BlackthornsBold';
    color: white;
}

.next-content{
    font-family: 'MonografBold';
    color: white;
}

.next-details-image{
    border-radius: 15px;
}

.next-details-tab{
    color: white;
}

.next-details-tab-content{
    color: white;
}

ul.next-list{
    list-style: none;
    padding-left: unset;
}

.nav-pills .nav-link{
    font-family: 'BlackthornsBold';
}

.nav-pills .nav-link:hover{
    color: #ff54ff;
}

.nav-pills .nav-link.active{
    border-radius: 7px 25px;
    background: linear-gradient(45deg, rgb(239, 7, 129) 0%, rgb(239, 7, 129) 6%, rgb(208, 10, 112) 6%, rgb(208, 10, 112) 25%, rgb(177, 13, 96) 25%, rgb(177, 13, 96) 40%, rgb(147, 16, 79) 40%, rgb(147, 16, 79) 45%, rgb(116, 19, 62) 45%, rgb(116, 19, 62) 53%, rgb(85, 22, 46) 53%, rgb(85, 22, 46) 66%, rgb(54, 25, 29) 66%, rgb(54, 25, 29) 100%);
    letter-spacing: .2em;
    border: 1px solid white;
    color: white;
}

